<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body id="page-top">
{{ with .Site.Params.googleTagManager}}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ . }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}
{{- partial "header.html" . -}}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        {{ with site.Data.homepage.main }}
                        <h1 class="mx-auto my-0 text-uppercase">{{ .header.title }}</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ .header.description }}</h2>
                        <a class="btn btn-primary" href="{{ .header.button.url }}">{{ .header.button.text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        {{ with site.Data.homepage.about }}
        <section class="about-section" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4  text-center">{{ .title }}</h2>
                        <p class="text-white-50 text-left">{{ .desc }}</p>
                        {{ if .button.enable }}
                        <div class="text-center"><a class="btn btn-primary about-btn" href="{{ .button.url }}">{{ .button.text }}</a></div>
                        {{ end }}
                    </div>
                </div>
                <img class="img-fluid" src="{{ .image }}" alt="..." />
            </div>
        </section>
        {{ end }}
        <!-- mission-->
        {{ with site.Data.homepage.mission }}
        <section class="mission-section" id="mission" style="background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4  text-center">{{ .title }}</h2>
                        <div class="text-left"><p class="text-white-50">{{ .desc }}</p></div>
                        {{ if .button.enable }}
                        <div class="text-center"><a class="btn btn-primary mission-btn " href="{{ .button.url }}">{{ .button.text }}</a></div>
                        {{ end }}
                    </div>
                </div>
                <img class="img-fluid" src="{{ .image }}" alt="..." />
            </div>
        </section>
        {{ end }}
        <!-- Founders-->
        {{ with site.Data.homepage.founders }}
        <section class="founders-section" id="founders" >
            <div class="container px-4 px-lg-5" >
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8" >
                        <h2 class="text-white mb-4 text-center">{{ .title }}</h2>
                        <p class="text-white-50 text-center">{{ .desc }}</p>
                    </div>
                        
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5">
                            <div class="col-md-6 mb-3 ">
                                <div class="card py-4 h-100">
                                    <div class="card-body">
                                        <h5 class="text-center text-uppercase m-0">{{ .card1.name }}</h5>
                                        <h6 class="text-center text-uppercase m-0">{{ .card1.title }}</h6>
                                        <hr class="my-4 mx-auto" />
                                        <div class="text-left small text-black-50">{{ .card1.description }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3 ">
                                <div class="card py-4 h-100">
                                    <div class="card-body">
                                        <h5 class="text-center text-uppercase m-0">{{ .card2.name }}</h5>
                                        <h6 class="text-center text-uppercase m-0">{{ .card2.title }}</h6>
                                        <hr class="my-4 mx-auto" />
                                        <div class="text-left small text-black-50">{{ .card2.description }}</div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-md-4 mb-3 ">
                                <div class="card py-4 h-100">
                                    <div class="card-body">
                                        <h5 class="text-uppercase m-0 text-center">{{ .card3.name }}</h5>
                                        <h6 class="text-uppercase m-0 text-center">{{ .card3.title }}</h6>
                                        <hr class="my-4 mx-auto" />
                                        <div class="text-left small text-black-50">{{ .card3.description }}</div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        {{ if .button.enable }}
                        <a class="btn btn-primary founders-btn" href="{{ .button.url }}">{{ .button.text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
        {{ end }}
 
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">{{ site.Params.address }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">{{ site.Params.email }}</a></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="{{ site.Params.twitter }}"><i class="fab fa-twitter"></i></a>
                    <!-- <a class="mx-2" href="{{ site.Params.facebook }}"><i class="fab fa-facebook-f"></i></a> -->
                    <a class="mx-2" href="{{ site.Params.github }}"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
{{- partial "footer.html" . -}}
</body>
</html>